<body>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="row tm-row">
        <div class="col-12">
            <div class="row tm-row title">
                <div class="col-10">
                  <h2 *ngIf="profile">Bem vindo(a), {{profile.name}}</h2>
                </div>
                <div class="col-sm-2 mt-1">
                  <button type="button" (click)="logout()"
                    class="btn btn-block btn-info">Sair</button>
                </div>
              </div>
        </div>
    </div>
      <div class="row tm-row titulo-header">
        <div class="col-12">
          <h2>Consultar Horários</h2>
        </div>
      </div>
      <div class="row tm-row" style="margin-bottom: 30px;">
        <div class="col-sm-6">
          <form action="" class="form-inline">
            <strong class="mr-2">Data: </strong>
            <input type="date" name="dateCurrent" class="form-control-sm" id="" [(ngModel)]="dateCurrent"
              (change)="getAgenda();">
          </form>
        </div>
      </div>
      <div class="row tm-row" style="margin-bottom: 30px;">
        <h2>Agendamentos:</h2>
        <div *ngIf="agendamentoDoctor.length === 0" class="col-sm-12">
          <div class="alert alert-brow" role="alert">
            Médico não possui consultas agendadas para esta data!<br>
          </div>
        </div>
        <table class="table tab col-12">
          <thead *ngIf="agendamentoDoctor.length > 0">
             <tr>
                <!-- <th>Data</th> -->
                <th>Hora</th>
                <th>Paciente</th>
                <th>Status</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agendamentoDoctor of agendamentoDoctor" [routerLink]="['../consulta', agendamentoDoctor.patient_id, agendamentoDoctor.item_id]" style="cursor:pointer">
                <!-- <td>{{agenderPatient.date | date:"dd/MM/yyyy"}}</td> -->
                <td class="colunas">{{agendamentoDoctor.hour.slice(0,5)}}</td>
                <td class="colunas">{{agendamentoDoctor.patient}}</td>
                <td class="colunas">{{translateStatus(agendamentoDoctor.status)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</body>
