<body>
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row titulo-header">
            <div class="col-8">
              <a href="#" (click)="back()" class="float-left mr-3" >
                <fa-icon   [icon]="icons.faArrowLeft" style="color: rgb(110, 96, 70)"></fa-icon>
              </a>
                <h2>PLANOS  DO PACIENTE</h2>
            </div>
            </div>

            <div class="row tm-row" style="margin-bottom: 30px;">
                <div class="col-12">
                    <div *ngIf="plans.length == 0">
                        <h3>Nunhum Plano Cadastrado</h3>
                    </div>
                    <div class="plans" *ngFor="let plan of plans">
                        <div class="plan mt-4">
                            <p>Plano: {{ plan.description }}</p>
                            <p>Valor: R$ {{ plan.value }}</p>
                            <p>Forma de Pagamento: {{ plan.form_of_payment }}</p>
                            <p>Vencimento: {{ plan.vencimento | date:"dd/MM/yyyy" }}</p>
                            <button class="btn btn-block btn-info"
                            (click)="getContract(plan.contract_id)">
                            Contrato
                            </button>

                            <button type="button" class="btn btn-block btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                                Editar
                            </button>
                        </div>

                        <!-- Modal -->

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h3 class="modal-title" id="exampleModalLabel">Edição de Contrato</h3>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form [formGroup]="formContract">
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Plano:</label>
                                      <select formControlName="plan_id" name="" id="plano" class="form-control">
                                        <option *ngFor="let plan of plansExist" value="{{plan.id}}">{{ plan.description }} - R$ {{ plan.value }}</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Médico:</label>
                                      <select formControlName="doctor_id" name="" id="dotor" class="form-control">
                                        <option *ngFor="let doctor of doctors" 
                                        value="{{doctor.id}}">
                                        {{ doctor.name }} - {{ doctor.user_information.crm }}/{{ doctor.user_information.crm_state }}
                                      </option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Desconto</label>
                                      <input type="number"
                                      class="form-control"
                                      id="discount"
                                      aria-describedby="emailHelp"
                                      placeholder="Em Porcentagem"
                                      formControlName="discount">
                                      <small id="obs" class="form-text text-muted">*Opcional.</small>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                  <button type="button" class="btn btn-primary" (click)="editContract(plan.contract_id)">Editar</button>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </main>
    </div>
</body>