<body>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="row tm-row titulo-header" id="top">
        <div class="col-6">
          <h2>EDITAR PERFIL</h2>
        </div>
        <!-- <div class="col-6">
          <app-copy-data></app-copy-data>
        </div> -->
      </div>

      <div class="alert {{message.alertColor}} alert-dismissible fade show mt-3 text-black" *ngIf="message.message" role="alert">
        <h4>{{message.message}}</h4>
        <button type="button" class="close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="">
          <form [formGroup]="formEditDoctor"  class="col-12" >
            <div class="upload-logo">
              <button class="btn btn-sm" data-toggle="modal" data-target="#modalUploadLogo">
                Logo <i class="fas fa-upload"></i>
              </button>
            </div>
            <div class="form-group">
              <label >Nome Completo</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
              <label>CPF</label>
              <input type="text" class="form-control" formControlName="cpf" maxlength="11">
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label>Telefone</label>
              <input type="telephone" class="form-control" formControlName="telephone" maxlength="11">
            </div>
            <div class="form-group">
              <label>CRM</label>
              <input type="number" class="form-control" formControlName="crm">
            </div>
            <div class="form-group">
              <label>UF</label>
              <input type="text" class="form-control" formControlName="crm_state">
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label>Senha</label>
                <input type="password" class="form-control" formControlName="password">
              </div>
              <div class="form-group col-6">
                <label>Confirme a senha</label>
                <input (keyup)="passwordCheck()" type="password" class="form-control" formControlName="confirm_password">
              </div>
              <div class="password-differ text-danger" *ngIf="validadePassword.differentPasswords">
                <small>{{ validadePassword.message }} </small>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-secondary" [routerLink]="'/medico/home-medico'">Cancelar</button>
          <button [disabled]="!formEditDoctor.valid" (click)="updateDoctor(doctor.id)" type="button" class="btn btn-save" data-dismiss="modal">Editar</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalUploadLogo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Selecione o arquivo</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="formImage">
                  <input (change)="uploadLogo($event)" 
                  type="file" 
                  class="form-control-file form-control-sm" 
                  formControlName="image">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button 
                [disabled]="!formImage.valid" 
                type="button" 
                class="btn btn-primary" 
                (click)="onSubmit()"
                data-dismiss="modal">
                  Salvar
                </button>
              </div>
            </div>
          </div>
        </div>

    </main>
  </div>
</body>
