@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.content{
  transform: translateY(20%);
}

.header{
  display: flex;
  justify-content: center;
}

.header img{
  width: 300px;
}

.header h1{
  font-size: 35px;
  padding-top: 10px;
  color: #7f6255;
  text-align: center;
  font-family: 'Crimson Text', serif;
}

mat-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  max-width: 350px;
  height: 240px;
  margin: 2em auto;
  text-align: center;
  border-radius: 40px;
  background-color: #bdb39b;
}

.login-content{
  transform: translateY(20%);
}

.input-group{
  margin: 20px 30% 30px auto;
  // width: 330px;
  padding-left: 5%;
  padding-right: 5%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.inpt{
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 10px;
  transform: translateX(0px);
}

@media only screen and (max-width: 400px){
  .content{
    transform: translateY(20%);
  }

  .header img{
    width: 230px;
  }

  .input-group{
    
  }

  .inpt{
    padding: 0 0 0 10px;
    transform: translateX(0px);
  }
}