 <div class="container">
   <div class="content">
    <div class="card-login">
      <div class="header">
        <img src="../../../../assets/img/logomarcaInstitutoCoelho.png" alt="" srcset="">
      </div>
      <div class="form-login">
        <div class="login-content">
          <div class="form-group input-group">
            <input [(ngModel)]="login" type="email" name="email" id="email" class="form-control inpt" placeholder="Login">
          </div>
          <div class=" form-group input-group">
            <input type="password" [(ngModel)]="password" name="password" id="password" class="form-control inpt" placeholder="Senha">
          </div>
          <button type="submit" (click)="onSubmit()" class="btn btn-light">Entrar</button>
        </div>
      </div>
    </div>
  </div>
 </div>
 
 <!-- <div class="form-login">
    <div class="header">
      <h1>Instituto Coelho</h1>
    </div>
    <mat-card>
      <mat-card-content>
        <div>
          <div class="input-group">
            <input placeholder="Login" name="login" [(ngModel)]="login" id="login" type="text" class="inpt">
          </div>
          <div class="input-group">
            <input placeholder="Senha" name="password" [(ngModel)]="password" id="password" type="password" class="inpt">
          </div>
          <div>
            <button mat-raised-button color="light" (click)="onSubmit()" type="submit">Entrar</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> -->
  <!-- <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="loginInvalid">
          Login ou senha incorretos
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Forneça um endereço de email válido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Forneça uma senha válida
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card> -->
