<body>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="row tm-row titulo-header" id="top">
        <div class="col-12">
          <h2 style="color: rgb(110, 96, 70);">Dados do Contrato</h2>
        </div>
      </div>

      <div class="alert {{alert.color}} alert-dismissible fade show mt-3 text-black" *ngIf="alert.message" role="alert">
        <h4>{{alert.message}}</h4>
        <button type="button" class="close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="formCadPlan" action="" class="">
        <div class="plans">
          <div class="form-group ">
            <label>
              Plano<sup class="obrigatorio">*</sup>
            </label>
            <select formControlName="plan_id" name="" id="plano" class="form-control">
              <option *ngFor="let plan of plans" value="{{plan.id}}">{{ plan.description }} - R$ {{ plan.value }}</option>
            </select>
          </div>
          <div class="form-group ">
            <label>
              Médico<sup class="obrigatorio">*</sup>
            </label>
            <select formControlName="doctor_id" name="" id="dotor" class="form-control">
              <option *ngFor="let doctor of doctors" 
              value="{{doctor.id}}">
              {{ doctor.name }} - {{ doctor.user_information.crm }}/{{ doctor.user_information.crm_state }}
            </option>
            </select>
          </div>

          <div class="form-groug payment-select">
            <label>
              Forma de Pagamento<sup class="obrigatorio">*</sup>
            </label>
            <mat-form-field [style.width.%]="100" appearance="outline">
              <mat-select formControlName="form_of_payment" multiple>
                <mat-option *ngFor="let forma of paymentForms" value="{{ forma.name }}">{{ forma.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
          <div class="form-group">
            <label for="">Observações</label>
            <textarea type="text" class="form-control"
            id="observation"
            formControlName="observation"
            autocomplete="off"
            placeholder="Ex: Detalhe sobre a forma de pagamento">
            </textarea>
          </div>
          
          <div class="form-group">
            <label for="exampleInputEmail1">Desconto</label>
            <input type="number"
            class="form-control"
            id="discount"
            aria-describedby="desconto"
            placeholder="Em Porcentagem"
            formControlName="discount">
          </div>
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [routerLink]="'/financeiro/gerar-contrato'">Cancelar</button>
        <button [disabled]="!formCadPlan.valid" (click)="cadPlan()" type="button" class="btn btn-save" data-dismiss="modal">Gerar Contrato</button>
      </div>
    </main>
  </div>
</body>
