<body>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="row tm-row titulo-header">
        <div class="col-12">
          <h2 style="color: rgb(110, 96, 70);">Dados do Contrato</h2>
        </div>
      </div>

      <form [formGroup]="formCadPlan" action="" class="">
        <div class="plans">
          <div class="form-group ">
            <label>Plano</label>
            <select formControlName="plan_id" name="" id="plano" class="form-control">
              <option *ngFor="let plan of plans" value="{{plan.id}}">{{ plan.description }} - R$ {{ plan.value }}</option>
            </select>
          </div>
          <div class="form-group ">
            <label>Médico</label>
            <select formControlName="doctor_id" name="" id="dotor" class="form-control">
              <option *ngFor="let doctor of doctors" 
              value="{{doctor.id}}">
              {{ doctor.name }} - {{ doctor.user_information.crm }}/{{ doctor.user_information.crm_state }}
            </option>
            </select>
          </div>
          <div class="form-group ">
            <label>Forma de Pagamento</label>
            <select formControlName="form_of_payment" name="" id="forma_de_pagamento" class="form-control">
              <option value="Dinheiro">Dinheiro</option>
              <option value="Cartão de Crédito">Cartão de Crédito</option>
              <option value="Cartão de Débito">Cartão de Débito</option>
            </select>
          </div>
          <!-- <div *ngIf="payOnCredit" class="form-group">
            <label>Parcelas</label>
            <select formControlName="form_of_payment" name="" id="" class="form-control">
              <option value="dinheiro">Dinheiro</option>
              <option value="Cartão de Crédito">Cartão de Crédito</option>
              <option value="Cartão de Débito">Cartão de Débito</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="exampleInputEmail1">Desconto</label>
            <input type="number"
            class="form-control"
            id="discount"
            aria-describedby="emailHelp"
            placeholder="Em Porcentagem"
            formControlName="discount">
            <small id="obs" class="form-text text-muted">*Opcional.</small>
          </div>
        </div>
      </form>

      <!-- <form [formGroup]="formContract"  class="col-12" >
        <div class="form-group ">
          <label>Plano</label>
          <select formControlName="plan_id" name="" id="" class="form-control">
            <option *ngFor="let plan of plans" value="{{plan.id}}">{{ plan.description }} - R$ {{ plan.value }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Data de Início</label>
          <input type="date" class="form-control" formControlName="data_inicio">
        </div>
        <div class="form-group">
          <label>Data de Fim</label>
          <input type="date" class="form-control" formControlName="data_fim">
        </div>
        <div class="form-group">
          <label>Protocolos</label>
          <input type="text" class="form-control" formControlName="protocols">
        </div>

      </form> -->



      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" [routerLink]="'/financeiro/gerar-contrato'">Cancelar</button>
        <button (click)="cadPlan()" type="button" class="btn btn-save" data-dismiss="modal">Gerar Contrato</button>
      </div>
    </main>
  </div>
</body>
