<body>
  <div class="container-fluid">
    <main class="tm-main">
      <div class="row tm-row titulo-header">
        <div class="col-12">
          <h2 >LANÇAR PAGAMENTO</h2>
        </div>
      </div>       
      <div class="row tm-row">
        <form [formGroup]="formRecp"  class="col-12" >
            <div class="form-group">
              <label>Paciente:</label>
              <select formControlName="client_id" class="form-control">
                <option *ngFor="let patient of patients" value="{{patient.id}}">{{ patient.nome }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Médico(a):</label>
              <select formControlName="doctor_id" class="form-control">
                <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{ doctor.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>O que o paciente irá pagar: </label>
              <select (change)="selectProduct()" formControlName="type_product" class="form-control">
                <option value="plan">Plano</option>
                <option value="protocol">Protocolo</option>
                <option value="single">Consulta Avulsa</option>
              </select>
            </div>
            <div class="form-group" *ngIf="product_type === 'plan'">
              <label>Selecione o Plano:</label>
              <select formControlName="product_id" class="form-control">
                <option *ngFor="let plan of plans" value="{{plan.id}}">{{ plan.description }}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="product_type === 'protocol'">
              <label>Selecione o Protocolo:</label>
              <select formControlName="product_id" class="form-control">
                <option *ngFor="let protocol of protocols" value="{{protocol.id}}">{{ protocol.descricao }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Valor: </label>
              <input type="number" class="form-control" formControlName="value">
            </div>
            <div class="form-group ">
              <label>Forma de Pagamento:</label>
              <select formControlName="form_of_payment" name="" id="" class="form-control">
                <option value="Dinheiro">Dinheiro</option>
                <option value="Pix">Pix</option>
                <option value="Cartão de Débito">Cartão de Débito</option>
                <option value="Cartão de Crédito">Cartão de Crédito</option>
                <option value="Outros">Outros</option>
              </select>
            </div>       
           <div class="form-group ">
              <label>Status de pagamento:</label>
              <select formControlName="payment_status" name="" id="" class="form-control">
                <option value="paid">Pago</option>
                <option value="partially_paid">Parcialmente Pago</option>
              </select>
            </div>  
            <div class="form-group row">
              <div class="col-3">
                <label>Valor faltante: </label>
                <input type="text" class="form-control" formControlName="value_remaing">
                </div>
              <div class="col-9">
                <label>Descrição adicional do pagamento:</label>
                <input type="text" class="form-control" formControlName="observation" maxlength="14"> 
              </div>              
            </div>   
           
            <button [disabled]="!formRecp.valid" class="btn btn-primary"type="button" (click)="register()" class="btn btn-block btn-primary">Registrar e Gerar Recibo</button>
          </form>
    </div>


      <div *ngIf="loading" class="text-center ">
        <div class="spinner-border" role="status">
          <span class="visually-hidden"></span>
        </div>
      </div>
  </main>
</div>
</body>
