<body>
  <div class="container-fluid">
    <main class="tm-main">
      <!-- Search form -->
      <div class="row tm-row titulo-header">
        <div class="col-8">
          <h2>CONSULTA DE MÉDICO</h2>
        </div>
        <div class="col-4">
          <div class="dropdown float-right">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Opções </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#editPaciente"  href="#">Editar</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#agendar" href="#">Agendar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row tm-row" style="margin-bottom: 30px;">
        <div class="col-sm-12">
          <h3> <strong>MÉDICO: </strong>{{doctor?.name}}</h3>
        </div>
        <div class="col-sm-6">
          <h3> <strong>CRM: </strong>{{doctor?.user_information.crm}}/{{doctor?.user_information.crm_state}}</h3>
        </div>
        <div class="col-sm-6">
          <h3> <strong>Telefone: </strong>{{doctor?.user_information.telephone}} </h3>
        </div>
        <div class="col-sm-4">
          <form action="" class="form-inline">
            <strong class="mr-2">Data: </strong>
            <input type="date" name="dateCurrent" class="form-control-sm" id="" [(ngModel)]="dateCurrent"
              (change)="getAgenderDoctor();">
          </form>
        </div>
        <!-- <div class="col-sm-4">            
                <form action="" class="form-inline">  
                  <strong class="mr-2">Médico: </strong>
                  <select  name="" id="" class="form-control" (ngModel)="selectDoctors">
                    <option>------</option>
                    <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
                  </select>
                </form>
            </div> -->
        <!-- <div class="col-sm-4 text-right">
          <button class="btn btn-info mr-1" data-toggle="modal" data-target="#editPaciente">Editar</button>
          <button class="btn btn-info mr-1" data-toggle="modal" data-target="#agendar">Novo agendamento</button>
        </div> -->

      </div>
      <div class="row tm-row" style="margin-bottom: 30px;">
        <h2>Agendamentos</h2>
        <div *ngIf="agenderPatients?.length === 0" class="col-sm-12">
          <div class="alert alert-brow" role="alert">
            Médico não possui agendamentos <br>
            <button class="btn btn-light" data-toggle="modal" data-target="#agendar">Agendar</button>

          </div>
        </div>
        <table class="table tab col-12">
          <thead *ngIf="agenderPatients?.length > 0">
            <tr>
              <!-- <th>Data</th> -->
              <th>Hora</th>
              <th>Paciente</th>
              <!-- <th>Protocolos</th> -->
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agenderPatient of agenderPatients">
              <!-- <td>{{agenderPatient.date | date:"dd/MM/yyyy"}}</td> -->
              <td>{{agenderPatient.hour.slice(0,5)}}</td>
              <td>{{agenderPatient.patient}}</td>
              <!-- <td>{{agenderPatient.protocol}}</td> -->
              <td>{{translateStatus(agenderPatient.status)}}</td>
            
            </tr>
          </tbody>
        </table>

      </div>



    </main>

  </div>

  <!-- Modals -->
  <div class="modal fade" id="agendar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Novo Agendamento</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formAgender" action="" class="">
            <div class="form-group">
              <label>Data</label>
              <input type="date" name="dateCurrent" class="form-control" id="" formControlName="date"
                [value]="dateCurrent">
            </div>
            <div class="form-group ">
              <label>Médico</label>
              <select formControlName="doctor_id" name="" id="" class="form-control">
                <option *ngFor="let doctor of doctors" value="{{doctor.id}}">{{doctor.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label>Horario</label>
              <input formControlName="hour" type="time" name=""  class="form-control ">
            </div>
            <div class="form-group">
              <label>Protocolos</label>
              <select formControlName="protocols_id" class="form-control" multiple id="select">
                <option *ngFor="let protocol of protocols" value="{{protocol.id}}">{{protocol.descricao}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click)="cadAgender()" type="button" class="btn btn-info" data-dismiss="modal">Agendar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editPaciente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Editar Paciente</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formRecp" class="col-12">
            <div class="form-group">
              <label>Nome Completo</label>
              <input type="text" class="form-control" formControlName="nome">
            </div>
            <div class="form-group">
              <label>Data de Nascimento</label>
              <input type="date" class="form-control" formControlName="data_nascimento">
            </div>
            <div class="form-group">
              <label>CPF</label>
              <input type="text" class="form-control" formControlName="cpf">
            </div>
            <div class="form-group">
              <label>RG</label>
              <input type="number" class="form-control" formControlName="rg">
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
              <label>CEP</label>
              <input type="number" class="form-control" formControlName="cep" (keyup)="viaCep()">
            </div>
            <div class="form-group">
              <label>Rua</label>
              <input type="text" class="form-control" formControlName="rua">
            </div>
            <div class="form-group">
              <label>Número</label>
              <input type="text" class="form-control" formControlName="numero">
            </div>
            <div class="form-group">
              <label>Bairro</label>
              <input type="text" class="form-control" formControlName="bairro">
            </div>
            <div class="form-group">
              <label>Cidade</label>
              <input type="text" class="form-control" formControlName="cidade">
            </div>
            <div class="form-group">
              <label>Estado</label>
              <input type="text" class="form-control" formControlName="estado">
            </div>
            <div class="form-group">
              <label>Complemento</label>
              <input type="text" class="form-control" formControlName="complemento">
            </div>
            <div class="form-group">
              <label>Ponto de Referência</label>
              <input type="text" class="form-control" formControlName="ponto_referencia">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button (click)="updatePatient(doctor.id)" type="button" class="btn btn-info"
            data-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
  </div>




</body>