<body>
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Procurar..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a routerLink="/admin/cadastrar-plano" class="effect-lily tm-post-link tm-pt-60">
                          <div class="tm-post-link-inner botao-grid">
                              <!-- <img src="../../../assets/img/img-08.png" alt="Image" class="img-fluid"> -->
                              <h2>CADASTRAR PLANO</h2>
                          </div>
                        <span class="position-absolute tm-new-badge">+</span>
                    </a>

                </article>

                <article class="col-12 col-md-6 tm-post">
                    <hr class="tm-hr-primary">
                    <a routerLink="/admin/listar-planos" class="effect-lily tm-post-link tm-pt-60">
                          <div class="tm-post-link-inner botao-grid">
                              <!-- <img src="../../../assets/img/img-08.png" alt="Image" class="img-fluid"> -->
                              <h2>LISTAR PLANOS</h2>
                          </div>
                        <span class="position-absolute tm-new-badge">+</span>
                    </a>

                </article>

            </div>

        </main>
    </div>
</body>
