
<body>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row titulo-header">
                <div class="col-12">
                  <h2>CADASTRAR PACIENTE</h2>
                </div>
            </div>
            <div class="row tm-row">
                <form class="col-12">
                    <div class="form-group">
                      <label >Nome Completo</label>
                      <input type="email" class="form-control" >
                    </div>
                    <div class="form-group">
                      <label>Data de Nascimento</label>
                      <input type="date" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>CPF</label>
                      <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>RG</label>
                      <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>E-mail</label>
                      <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>CEP</label>
                      <input type="number" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Rua</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Bairro</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Cidade</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Estado</label>
                      <input type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
                  </form>
            </div>
        </main>
        </div>
</body>

