<header class="tm-header" id="tm-header">
    <div class="tm-header-wrapper">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tm-site-header">
            <div class="mb-3 mx-auto ">
              <img src="../../../assets/img/logomarcaInstitutoCoelho.png" alt="Image" class="img-fluid">
            </div>
            <h4 class="text-center">Emagrecimento e Performance Humana</h4>
            <div class="logout">
                <a href="" (click)="logout()" class="link">Sair</a>
            </div>
        </div>
        <nav class="tm-nav" id="tm-nav">
            <ul>
                <li class="tm-nav-item active"><a routerLink="/home" class="tm-nav-link">
                    <i class="fas fa-home"></i>
                    Tela Inicial
                </a></li>
                <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                    <i class="fas fa-pen"></i>
                    Agenda
                </a></li>
                <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                    <i class="fas fa-calculator"></i>
                    Financeiro
                </a></li>
                <li class="tm-nav-item"><a href="index.html" class="tm-nav-link">
                    <i class="far fa-comments"></i>
                    Outro botão
                </a></li>
            </ul>
        </nav>


    </div>
</header>
