.logout{
    display: flex;
    justify-content: center;
    margin-bottom: -50px;
}

.logout p{
    color: #fff;
    padding-right: 10px;
}

.link{
    color: #fff;
    text-decoration: underline;
}
:host{
    
.tm-header{
    background-color:rgb(139, 121, 87) !important;
    border: none;
}


}

