<body>
    <div class="container-fluid">
        <main class="tm-main">
          <div class="row tm-row titulo-header">
            <div class="col-12">
              <h2>PLANOS</h2>
            </div>
          </div>
          <div class="row tm-row mt-4">
              <div class="list col-12">
                <table class="table tab col-12 table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">Descrição</th>
                        <th class="text-center" scope="col">Período</th>
                        <th class="text-center" scope="col">Valor</th>
                        <th class="text-center" scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let plan of plans">

                        <td scope="row" class="text-center">{{ plan.description }}</td>

                        <td class="text-center">{{ plan.period }} meses</td>

                        <td class="text-center">R$ {{ plan.value }}</td>

                        <td class="text-center">{{ plan.status }}</td>

                        <td class="text-center">

                            <button *ngIf="plan.status === 'Ativo'"
                            class="btn btn-sm btn-danger mr-1" title="Desativar Plano"
                            data-toggle="modal"
                            (click)="disabledPlan(plan.id)">
                              <fa-icon [icon]="icons.faBan"></fa-icon>
                            </button>

                            <button type="button" *ngIf="plan.status === 'Cancelado'"
                            class="btn btn-sm btn-success mr-1" title="Reativar Plano" 
                            data-toggle="modal"
                            (click)="reactivatePlan(plan.id)">
                              <fa-icon [icon]="icons.faRecycle"></fa-icon>
                            </button>

                            <button
                            class="btn btn-sm btn-primary mr-1"
                            title="Editar Plano"
                            (click)="updatePlan(plan.id)"
                            >
                              <fa-icon [icon]="icons.faPenSquare"></fa-icon>
                            </button>

                        </td>

                      </tr>

                    </tbody>
                  </table>
              </div>
          </div>
        </main>
    </div>
</body>
