.alert{
    width: 100%;
    height: 60px;
    position: relative;
}

.alert .message{
    transform: translateX(15%);
    color: #000;
}

.alert p{ color: #000; }

.alert a{text-decoration: underline}

.password-differ{ margin-top: -10px; margin-bottom: 10px; }