:host{

    .bg-dark{
        background-color: rgba(0, 0, 0, .3) !important;
    }

    h2, h3, strong{
        color: rgb(110, 96, 70);
    }
    .titulo-header{
        padding: 30px 5px 0px 0px;
        margin-bottom: 15px;
        border-bottom: 5px solid  rgb(146, 133, 109);
    }
    input:focus { 
        outline: none !important;
        border-color: rgb(110, 96, 70);
        box-shadow: 0px 0px 5px rgb(110, 96, 70);
    }
    table{
        font-size:14px;
    }

    .plansDoctor p{
        color: #000;
        font-weight: bold;
    }

    .btn-disabled:focus + .overlay{
        background-color: rgba(0, 0, 0, .3);
        z-index: 999;
    }

    .overlay{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        z-index: -1;
        transition: all .5s;
     }
}