<body>
    <div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row titulo-header" id="top">
                <div class="col-12">
                  <h2>LISTA DE PROTOCOLOS</h2>
                </div>
            </div>

            <div class="row tm-row mt-4">
                <div class="list col-12">
                  <table class="table tab col-12 table-bordered">
                      <thead>
                        <tr>
                          <th class="" scope="col">Descrição</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let protocol of protocols">
                          <td scope="row" class="">{{ protocol.descricao }}</td>
                          <td class="text-center">
                            <button
                            class="btn btn-sm btn-danger mr-1" title="Exclir Protocolo"
                            data-toggle="modal" data-target="#modaDelete"
                            (click)="deleteProtocol(protocol.id)">
                              <fa-icon [icon]="icons.faTrashAlt"></fa-icon>
                            </button>
                            <button
                            class="btn btn-sm btn-primary mr-1"
                            title="Editar Protocolo"
                            (click)="updateProtocol(protocol.id)"
                            >
                              <fa-icon [icon]="icons.faPenSquare"></fa-icon>
                            </button>
                          </td>
                      
                        </tr>
                      </tbody>
                      <p id="demo"></p>
                    </table>
                </div>
            </div>

        </main>
    </div>
</body>
